<div class="home">
  <p><%- message %></p>
  <table>
    <thead>
      <tr>
        <th>Created At</th>
        <th>Task</th>
      </tr>
    </thead>
    <tbody class="tasks">
      
    </tbody>
  </table>
</div>

<script src="/static/scripts/listTodo.js"></script>