<div class="login-form">
  <form action="/login" method="GET">
    <label for="email">Email</label>
    <input type="email" name="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" required>
    <input type="submit" class="signin" value="Login">
  </form>
</div>